<div class="container">
    <div header></div>

    <span class="clearfix"></span>
    <div class="row">

    </div>

    <timer end-time="endOfSession">
    <div class="progress">

    <div class="progress-bar" role="progressbar"
    aria-valuenow="{{seconds}}"
    aria-valuemin="{{startOfSession}}" aria-valuemax="{{endOfSession}}"
    style="width:{{seconds}}%;">
    </div>
    </div>
    </timer>
    <timer end-time="{{endOfSession}}">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
    <timer interval="1000"><div class="progress progress-striped active"> <div class="bar" style="width: {{seconds}}%;"></div> </div></timer>


{{minutes}}
</div>
