
<div>
    <button ng-click="addChild(data)">+ New</button>
</div>
<div class="live col-md">
    <ol>
        <li ya-tree="child in data.children at ol" ng-class="{minimized:child.minimized}">
            <div>
                <button class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized"><span ng-switch-when="true">&#x25B6;</span><span ng-switch-default>&#x25BC;</span></button>
                <input ng-model="child.title" />
                <button ng-click="addChild(child)">+</button>
                <button ng-click="remove(child)">x</button>
            </div>
            <ol ng-class="{pregnant:child.children.length}"></ol>
        </li>
    </ol>
</div>
<div class="shadow">
    <ol>
        <li ya-tree="child in data.children at ol" class="bg{{$depth%6}}" ng-class="{minimized:child.minimized}">
            <div>
                <input disabled value="{{child.title}}" /> <em>({{$depth}})</em>
            </div>
            <ol ng-class="{pregnant:child.children.length}"></ol>
        </li>
    </ol>
</div>
<div><button ng-click="getJson()">Json</button></div>
<div>{{json}}</div>
<dv><button data-ng-click="save()">SAVE</button></dv>